html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	wrapper		*/

.wrapper {
    max-width: 1200px;
	padding: 0, 15px;
	margin: auto;
}

/* section	header		*/

.header_panel {
	position: relative;
	background-color: #000000;
}
.wrapper.ad {
	display: flex;
	text-decoration: none;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}
.logo_img {
	padding-top: 22px;
	padding-bottom: 20px;
	
}

.ul_header {
	display: flex;
}
.a_logo {
	display: block;
	width: 113px;
	text-decoration: none;
	color: #FFFFFF;
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.header {
	position: relative;
	background-image: url('../img/image.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center;
	height: 1026px;
}

.header:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.start_panel {
	display: flex;
}

.start_text {
	position: relative;
	padding-top: 230px;
}

.start_img {
	width: 170px;
	height: 55px;
}

.modern {
	position: relative;
	padding-top: 72.88px;
	font-size: 48px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	width: 670px;
	padding-right: 101px;
	color: #FFFFFF;
	padding-bottom: 55px;
}

.modern::before {
	position: absolute;
	content:'';
	width: 170px;
	height: 1px;
	background: #FFFFFF;
	border: none;
	bottom: 0px;
}
.start_lorem {
	padding-top: 42px;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	max-width: 270px;
}
.downloader {
	display: flex;
	font-size: 18px;
	font-weight: 600px;
	font-family:'Open Sans', sans-serif;
	width: 270px;
	height: 58px;
	background: none;
	color: #FFFFFF;
	margin-top: 84px;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 2px solid #FFFFFF;
}

.start_form {
	position: relative;
	display: block;
	width: 470px;
	height: 450px;
	background-color: #FFFFFF;
	margin-top: 257px;
	border-radius: 10px;
}
.name_form {
	color: rgba(51, 51, 51, 1)	;
	font-weight: 700;
	font-family:'Open Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 36px 50px 75px 53px;

}
.free_form {
	color: rgba(236, 121, 121, 1);
}
.form-group {
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 32px;
}
input {
	border: none;
	border-bottom: 1px solid rgba(189, 189, 189, 1);
	padding-top: 16px;
}
label {
	color: rgba(189, 189, 189, 1);
}
.button_form {
	margin-top: 13px;
	width: 470px;
	height: 60px;
	border: none;
	background-color:rgba(236, 121, 121, 1);
	border: none;
}
.bt_form {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-size: 15px;
	font-weight: 500;
	font-family:'Open Sans', sans-serif;
}

/* section	media	*/

.media {
	background-color: #F8EFEF ;
}

.media_panel {
	display: flex;
	
}

.social {
	padding-top: 32px;
	font-size: 24px;
	font-weight: 700;
	color: #333333;
	font-family:'Open Sans', sans-serif;
}

.media_lorem {
	padding-top: 18px;
	width: 470px;
	font-weight: 400;
	color: #86878B;
	padding-bottom: 18px;
}

.media_img {
	display: flex;
	padding-top: 17px;
}

.media_img {
	margin-left: 30px;
	
}



/*	section tabs		*/

.tabs_multi {
	margin-top: 100px;
	display: flex;
}
.buttons {
	
	width: 243px;
	height: 40px;
	background-color: white;
	border: none;
}
.board {
	border: 1px solid #C6CBCD;
	border-bottom: none;
}
.buttons:hover {
	border: 1px solid #C6CBCD;
}
.tabs_panel {
	display: flex;
	border: 1px solid #C6CBCD ;
	margin-bottom: 118px;
	border-top: none;
}
.border {
	border: 1px solid #C6CBCD ;
	border-top: none;
	border-left: none;
	border-right: none;
}


.tabs_text {
	padding-top: 55px;
	padding-left: 101px;
	
}
.zagolovok_tabs {
	font-size: 30px;
	padding-bottom: 57px;
	font-family:'Open Sans', sans-serif;
	font-weight: 700;
}
.paragraph_tabs {
	padding-top: 26px;
	font-size: 18px;
}

.download {
	display: flex;
	font-size: 18px;
	width: 270px;
	height: 58px;
	font-weight: 600px;
	font-family:'Open Sans', sans-serif;
	background-color: #EC7979;
	color: #FFFFFF;
	margin-top: 84px;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.download:hover {
	border: 1px solid #C6CBCD ;
}
.tabs_img {
	max-height: 500px;
}


/*	section	cards	*/
.cards {
	margin-bottom: 110px;
}
.zagolovok {
	position: relative;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}
.line {
    width: 170px;
    height: 1px;
    background-color: #EC7979 ;
	margin-bottom: 40px;
	border: none;
}
.paragraph {
	font-size: 18px;
	text-align: center;
	margin-bottom: 92px;
	color: #000000;
}

.cards_panel{
	display: flex;
	justify-content: space-between;
}
.card {
	
	width: 30%;
}
.img{
	display: block;
	margin: auto;
	margin-bottom: 24px;
}
.design {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 26px;
	font-family:'Open Sans', sans-serif;
	font-weight: 700;
}
.lorem {
	text-align: center;
	font-size: 18px;
}


/*	section	prising	*/

.prising {
	background-color: #F5F5F5;
}
.options {
	padding-top: 82px;
}
.prising_class {
	display: flex;
	justify-content: space-between;
	
}
.prising_table {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 3 - 60px / 3);
	padding-top: 20px;
}
.basic_li {
	display: flex;
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	font-family:'Open Sans', sans-serif;
	border: 2px solid #F5F5F5;
	background-color: #000000;
	width: 100%;
	text-align: center;
	height: 60px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
	
.baks {
	font-size: 36px;
	background-color: #000000;
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.free {
	display: flex;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: rgba(255,255,255, 0.5);	
	width: 100%;
	background-color: #000000;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 50px;
}
.gb_li {
	display: flex;
	width: 100%;
	color: #86878B;
	font-size: 18px;
	background-color: #FFFFFF;
	max-width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 50px;

}
.modify {
	padding-bottom: 21px;
}



/*	section	customers	*/
.customers {
	margin-bottom: 150px;
}
.customers_cards {
	display: flex;
	justify-content: space-between;
}

.customers_card {
	background-color: #E2E2E2;
	border-radius: 10px;
	max-width: calc(100% / 3 - 60px / 3);
	padding: 38px 25px;

}

.triangle {
    position: relative;
}
.triangle ::after {
	content: ''; 
    position: absolute;
    left: 70px; bottom: -45px;
    border: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
}
.customers_text {
	max-width: 320px;
	text-align: center;
}
.card_managers {
	display: flex;
	margin-top: 66px;
	justify-content: space-between;
}
.card_manager {
	display: flex;
}
.photo_manager {
	max-width: 70px;
	max-height: 70px;
}
.zagolovok_manager {
	padding: 0px 30px;
	font-size: 24px;
	font-weight: 700;
	font-family:'Open Sans', sans-serif;
}
.paragraph_manager {
	font-size: 18px;
	padding: 18px 30px;
}


/*	section stylish	*/
.stylish {
	position: relative;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center;
}
.stylish::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.text_panel.styl {
	position: relative;
	padding-bottom: 70px;
}
.zagolovokk {
	position: relative;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;
	padding-bottom: 40px;
	padding-top: 70px;
}
.zagolovokk:after {
	position: absolute;
	content:'';
	width: 170px;
	height: 1px;
	background: #F8EFEF;
	border: none;
	bottom: 0px;
	left: calc(50% - 85px);
}
.paragraph.cvet {
	color: #FFFFFF;
}
.downloader.dd {
	position: relative;
	display: flex;
	font-size: 18px;
	font-weight: 600px;
	font-family:'Open Sans', sans-serif;
	width: 270px;
	height: 58px;
	background: none;
	color: #FFFFFF;
	margin-top: 80px;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 2px solid #FFFFFF;
	left: calc(50% - 137px);
}


/*	section contact	*/

.zagolovokkk .cont {
	color: rgba(0, 0, 0, 1);
}
.text_panel.style {
	position: relative;
	padding-bottom: none;
}

.zagolovokkk {
	position: relative;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);;
	padding-bottom: 40px;
	padding-top: 70px;
}
.zagolovokkk:after {
	position: absolute;
	content:'';
	width: 170px;
	height: 1px;
	background: rgba(236, 121, 121, 1);
	border: none;
	bottom: 0px;
	left: calc(50% - 85px);
}
.contact_blok {
	display: flex;
	justify-content: space-between;
	
}
.contact_info { 
	width: calc(100% / 2);
	gap: 30 px;
}
textarea {
	height: 189px;
	resize: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgba(189, 189, 189, 1);
}
.textar { 
	width: 50%;
}
button {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.button_cont {
	margin-top: 13px;
	width: 370px;
	height: 58px;
	border: none;
	background-color:rgba(236, 121, 121, 1);
	border: none;
}
.button_contact {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 66px;
}
/*	section footer	*/

.footer {
	background-color: #000000;
}
.footer_box {
	display: flex;
	padding-top: 35px;
	padding-left: 301px;
	padding-bottom: 27.8px;
}
.footer_img {
	width: 53.2px;
	height: 53.2px;
	padding-right: 32.8px;
}

.footer_text {
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding-bottom: 27px;